html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.intro{
    height: 100vh;
    width: 100vw;
    background: url(./assets/bg.png) center center no-repeat;
    background-size: 100% 100%;
    position: relative;

    overflow-x: hidden;
}

.logo-wrapper{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.name{
    display: flex;
    align-items: center;
    position: relative;
    transform: scale(0.239) translateY(-280%);
}

model-viewer {
  width: 400px;
  height: 400px;
  transition: all 0.3s linear;
  transform: translateX(3px);
}

.chrome {
    position: relative;
    background-image: linear-gradient(90deg, #4C77BE 0%, #b1c6e8 53%, #b1c6e8 61%, #4C77BF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 4px #f5f5f5; */
    -webkit-box-reflect: below -10px
    linear-gradient(to bottom, transparent, rgb(165 233 212 / 37%));
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1;
}

.chrome:before {
    content: 'NAGECCO';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position: -680px 0;
    text-shadow: 3px -3px #12325a56;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 500px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    /* -webkit-animation-delay: 1s; */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes chrome_effect {
    0% {
        background-position: -680px 0;
    }
    10% {
        background-position: 420px 0;
    }
    100% {
        background-position: 480px 0;
    }
}


/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-t{
        display: none !important;
    }

    .name {
        transform: scale(0.245) translateY(-47vh) !important
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .intro{
        background-size: auto 100%;
    }

    model-viewer {
        width: 80vw;
        height: 38vh;
    }

    .name{
        transform: scale(0.2) translateY(-300%);
    }

}

.text-3d{
    text-shadow: 0 0px 0px rgb(0 0 0 / 40%), 9px -10px 2px #314d74;
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;
    /* transform: scale(0.23); */
    position: absolute;
    z-index: -1;
}